{% extends "base.html" %}

{% block meta %}
<meta name="author" content="{{ article.author.name }}" />
<meta name="description" content="{{ article.summary|striptags|escape }}" />
<meta name="keywords" content="{{ article.tags|join(', ')|escape }}">

{% if article.translations -%}
<link rel="alternate" href="{{ SITEURL }}/{{ article.url }}" hreflang="{{ article.lang }}" />
{% for a in article.translations %}
<link rel="alternate" href="{{ SITEURL }}/{{ a.url }}" hreflang="{{ a.lang }}" />
{% endfor %}
{% endif %}

{% include "partial/og_article.html" %}
{% endblock %}

{% block title %} &ndash; {{ article.title|striptags|escape }}{% endblock %}

{% block content %}
<article class="single">
  <header>
    {% if not ARTICLE_HIDE_TRANSLATION %}
      {% import 'partial/translations.html' as translations with context %}
      {{ translations.translations_for(article) }}
    {% endif %}
    <h1 id="{{ article.slug }}">{{ article.title }}</h1>
    <p class="article-meta">
      <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
      {% if article.category %}
      &#8226; <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
      {% endif %}
      {% if PLUGINS and 'post_stats' in PLUGINS %}
        &#8226; {{ _('%(minutes)s min read', minutes=article.stats['read_mins']) }}
      {% endif %}
    </p>
  </header>

  <div>
    {{ article.content }}
  </div>

  {% if article.tags %}
  <div class="tag-cloud">
    {% for tag in article.tags %}
    <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
    {% endfor %}
  </div>
  {% endif %}

  {% include "partial/neighbors.html" %}

  {% include "partial/disqus.html" %}
  {% include "partial/isso.html" %}
  {% include "partial/giscus.html" %}
</article>

<div class="back-to-top">
  <a href="#" aria-label="回到顶部">&#8593; 回到顶部</a>
</div>
{% endblock %}
